:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --third-tittle-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.nav-link.current {
  color: var(--accent-color);
}
/* --------------Header-------------- */

.header {
  background-color: var(--main-background-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}
.nav-link {
  color: var(--second-tittle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------------Hero-------------- */

.hero-section {
  background-color: var(--second-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #f5f4fa;
  color: var(--main-btn-color);
}

/* --------------Benefits-------------- */
.benefits-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.benefits {
  background-color: var(--main-background-color);
}
.benefits-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-tittle-color);
}
.benefits-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------Activity-------------- */
.activity {
  background-color: var(--main-background-color);
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
}

/* --------------Our team-------------- */

.team {
  background-color: var(--third-background-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-tittle-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------Footer-------------- */

.footer {
  background-color: var(--second-background-color);
}

.logo-studio-footer {
  color: #ffffff;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-contacts-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* --------------Portfolio-------------- */

.main-products-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-btn-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
}

.port-products-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-tittle-color);
}

.port-products-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
